<div class="tui-container tui-container_adaptive">
    <div class="tui-row tui-row_adaptive">
        <div class="tui-col_xs-12 tui-col_md-12 tui-col_lg-12">
            <h1 class="tui-form__header">Books</h1>
            <tui-island *ngFor="let book of collection$ | async" class="tui-space_top-4">
                <h3 class="tui-island__title">{{ book?.title }}</h3>
                <p class="tui-island__paragraph">{{ book?.description }}</p>

                <button
                    (click)="onRemove(book?.id)"
                    tuiButton
                    type="button"
                    appearance="secondary"
                    size="m"
                    class="tui-island__footer-button"
                >
                    Remove From Collection
                </button>
            </tui-island>

            <p *ngIf="(collection$ | async)?.length === 0">No Books</p>
        </div>
    </div>
</div>
