{
    "extends": ["stylelint-config-standard-scss", "stylelint-prettier/recommended", "stylelint-config-idiomatic-order"],
    "rules": {
        "no-empty-source": null,
        "scss/dollar-variable-empty-line-before": null,
        "scss/double-slash-comment-empty-line-before": null,
        "selector-class-pattern": null,
        "shorthand-property-no-redundant-values": null
    }
}
